#pomodoro-clock {
    display: grid;
    grid-template-areas: 'title title'
        'break session'
        'timer timer'
        'controls controls';
    margin: auto;
    padding-bottom: 40px;
    margin-top: 4%;
    width: 40%;
    text-align: center;
    background-color: aquamarine;
}

#title {
    grid-area: title;
    margin-top: 10px;
}

#break {
    grid-area: break;
}

#session {
    grid-area: session;
}

.timer-controls {
    display: inline-flex;
}

#timer {
    grid-area: timer;
}

#controls {
    grid-area: controls;
}